@model Lab8.Models.Phone

@{
    ViewData["Title"] = "Delete";
}


<h2>Удаление</h2>

<h3>Вы точно хотите удалить этот телефон?</h3>
<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Удалить" />
            <br />
            <br />
            @Html.ActionLink("К списку телефонов", "Info")
        </div>
    }
</div>

