@model Lab_03.Models.Phone

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "")
        <div>
            @Html.LabelFor(model => model.Last_name)
            <div>
                @Html.EditorFor(model => model.Last_name)
                @Html.ValidationMessageFor(model => model.Last_name, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Phone_number)
            <div>
                @Html.EditorFor(model => model.Phone_number)
                @Html.ValidationMessageFor(model => model.Phone_number, "")
            </div>
        </div>
        <br />
        <div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
}

<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>  