@model PhoneStore.Models.Phones
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>Phone</h4>
        <hr />
        @Html.ValidationSummary(true, "")
        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Phone_Number)
            <div>
                @Html.EditorFor(model => model.Phone_Number)
                @Html.ValidationMessageFor(model => model.Phone_Number, "")
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Create"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

